.btn{
  &,
  &:link,
  &:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    color: $btn;
    border: 1px solid $btn;
    border-radius: 30%;
    padding: 5px 20px;
    border-radius: 1000px;
    transition: all .3s;
    &:hover{
      transform: scale(1.1);
    }
    
  }
  &--white{
    &,
    &:link,
    &:visited{
      display: inline-block;
      text-decoration: none;
      font-size: 1.3rem;
      color: $colorWhite;
      background-color: $btn;
      border: 1px solid $btn;
      border-radius: 30%;
      padding: 5px 20px;
      border-radius: 1000px;
      box-shadow: 0 2rem 3rem rgba(0,0,0,.4);
      transition: all .3s;
      &:hover{
        transform: scale(1.1);
      }
      
    }
  }
  
}

